{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>

<title>Consultas| U4 </title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximun-scale=1">
 <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">

<meta name="description" content="Proyecto ">
<meta name="author" content="Estefani Gallegos">
<meta name="keywords" content="Proramación Web">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
 <ul class="nav nav-tabs">
         <li class="nav-item">
             <li class="nav-item">
        <a  class="nav-link aria-disabled" aria-current="page"     href="Login"> Login</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link aria-disabled" aria-current="page"     href="cambios"> Cambios</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link aria-disabled" aria-current="page"     href="Bajas"> Bajas</a>
      </li>

      <li class="nav-item">
        <a  class="nav-link aria-disabled" aria-current="page"     href="Consultas">Consultar Fecha y hora</a>
      </li>

      <li class="nav-item">
        <a  class="nav-link active"   href="Logout" tabindex="-1" aria-disabled="true"> Loginout</a>
      </li>
              </ul> <br><br></h5>

     <img src="{% static 'imagenes/logo1.png' %}" alt="..." width="210px" height="100px">
     <img src="{% static 'imagenes/logo2.png' %}" alt="..." width="210px" height="100px" align="right">

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
 <div class="container p-3 my-3 border">
  
    <p >  </p>
      
    <br>
          
      <h2 align="center"> Mostrar tabla de:
        <br>
        

      
       
          
    
  </div>
   
          
    
  </div>