{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>

<title>Entrada usuario | U4 </title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, maximun-scale=1">
 <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">

<meta name="description" content="Proyecto ">
<meta name="author" content="Estefani Gallegos">
<meta name="keywords" content="Proramación Web">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
 
  <div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Entrada </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="salida.html">Salida  </a>
    </li>
    
    </li>
     </ul>

     <img src="{% static 'imagenes/logo1.png' %}" alt="..." width="210px" height="100px">
    <img src="{% static 'imagenes/logo2.png' %}" alt="..." width="210px" height="100px" align="right">

     <br>
     <br>
     <br>
     <br>
     <br>


   <div class="container p-3 my-3 border">


      <h1 style="font-family:verdana;text-align:center;color: black "> usuario  </h1>
  <p style="text-align:center;">




      <br>

<div class="row">
   
  
    <div class="col-sm-4 offset-sm-4">
      <form class="" action="index.html" method="post" pattern="[A-Xa-x]{3}">
        <label for="">Número de control</label><br>
        <input class="form-control" type="text" name="Numero de control" value=" Numero de control"><br>
        
        <form>

          <br>
<button type="button" class="btn btn-info" align="ce">Entrar</button>

</div>

              

</body>

</html>